		<p>
		<br>
		<%= product.name %>
		<br>
		<%= product.description %>
		<br>
		Price: $<%= product.formatted_price %>
		<br>
		<%= link_to "View More Details", "/products/#{product.id}" %>
		</p>
		


